<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </div>
<% end %>



<%= form_for(position) do |form| %>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading"> <strong class="">Create an election</strong>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Election Title</label>
                            <div class="col-sm-9">
                                <%= form.text_field :election_id, type: 'text', class: "form-control", placeholder: 'election_id', required: ''%>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-2 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>
