<h1>Positions for <%= Election.find(params[:election_id]).title%></h1>
<p id="notice"><%= notice %></p>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Candidates</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |pos| %>
      <tr>
        <td><%=pos.title%></td>
        <td><%=pos.description%></td>
        <td><%= link_to 'Candidates', user_election_position_candidates_path(position_id: pos.id), :type => "button", :class=> 'btn btn-default' %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Position', new_user_election_position_path, :type => "button", :class=> 'btn btn-success' %>
