<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>title</th>
      <th>description</th>
      <th>election_id</th>
      <th>show</th>
    </tr>
  </thead>
  <tbody>
    <% @positions.each do |pos| %>
      <tr>
        <td><%=pos.id%></td>
        <td><%=pos.title%></td>
        <td><%=pos.description%></td>
        <td><%=pos.election_id%></td>
        <td><%= link_to 'Candidates', user_election_position_candidates_path(position_id: pos.id) %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Position', new_user_election_position_path %>
