<h1>Elections</h1>
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Positions</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <% @elections.each do |election| %>
      <tr class="active">
        <td><%=election.title%></td>
        <td><%=election.description%></td>
        <td><%=election.close_date %></td>
        <td><%= link_to 'Positions', user_election_positions_path(election_id: election.id) %></td>
        <td><%= link_to 'Users', election_users_path(election_id: election.id)%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Election', new_user_election_path %>
