<h1>Elections</h1>
<p id="notice"><%= notice %></p>
<table class="table table-bordered">
  <thead>
    <tr class="active">
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Positions</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <% @elections.each do |election| %>
      <tr class="active">
        <td><%=election.title%></td>
        <td><%=election.description%></td>
        <% if election.close_date > Time.now  %>
        <td> open, ending at <%=election.close_date%> </td>
        <% else %>
        <td> closed, finished at <%=election.close_date%> </td>
        <% end %>
        <td><%= link_to 'Positions', user_election_positions_path(election_id: election.id), :type => "button", :class=> 'btn btn-default' %></button></td>
        <td><%= link_to 'Users', election_users_path(election_id: election.id), :type => "button", :class=> 'btn btn-default' %></button></td>
        <td><%= link_to 'Update', edit_user_election_path(id: election.id), :type => "button", :class=> 'btn btn-default' %></button></td>
        <td><%= link_to 'Destroy',  election_path, data: { confirm: 'Are you sure?' }, method: :delete %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
<
