<p id="notice"><%= notice %></p>

<p>
 <h1><%= @election.title %></br></h1>
  <div class="col-md-4">
  <%= @election.description %></br>
  <%= @election.start_date %>
  <%= @election.close_date %>
  </div>
  
</p>

<<td><%= link_to 'Positions', user_election_positions_path(election_id: @election.id) %></td>

