<table class="table">
<p id="notice"><%= notice %></p>
<h1>Positions for <%= Position.find(params[:position_id]).title%></h1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Biography</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%=candidate.name%></td>
        <td><%=candidate.biography%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Candidate', new_user_election_position_candidate_path %>
<div>
<%= link_to 'Back', user_election_positions_path %>
</div>