<!DOCTYPE html>
<html>
  <head>
    <title>Opine</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header", style="font-weight:bold">
      <%= link_to image_tag("Opine_Logo.jpg", :size => "45x45"), root_path, class: 'navbar-header-text' %>
    </div>
    <ul class="nav navbar-nav">
        <% if !current_user.nil?%>
        <li><%= link_to 'New Election',  new_user_election_path(current_user)%></li>
        <li><%= link_to 'All Elections', user_elections_path(current_user)%></li>
        <% else %>
        <li><%= link_to 'New Election',  sign_in_path%></li>
        <li><%= link_to 'All Elections', sign_in_path%></li>
        <% end %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><%= link_to 'Account', current_user%><li>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete%></li>
    <% else %>
    <li><a href=<%= sign_up_path%>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href=<%= sign_in_path%>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>

  </body>
</html>
