<!DOCTYPE html>
<html>
  <head>
    <title>Electionapp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Election App', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <!-- <li class="active"><a href="#">Home</a></li> -->
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li> 
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete%></li> 
    <% else %>
    <li><a href=<%= sign_up_path%>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href=<%= sign_in_path%>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% end %>
    </ul>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>">
      <%= value %>
    </div>
    <% end %>
    <%= yield %>
  </div>


  </body>
</html>
