<!DOCTYPE html>
<html>
  <head>
    <title>Opine</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to 'Opine', root_path, class: 'navbar-brand' %>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to 'New Election', new_election_path%></li>
      <li><%= link_to 'All Elections', elections_path%></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
    <% if signed_in? %>
      <li><%= link_to 'Sign out', sign_out_path, method: :delete%></li>
    <% else %>
    <li><a href=<%= sign_up_path%>><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href=<%= sign_in_path%>><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>

  </body>
</html>
